{% extends 'layout.html' %}

{% block content %}
<div class="content">
    <div class="content-alternating-boxes">
        <div class="post-snippet">
            <h2>Summary</h2>
            <div>
                I'm a sophomore at Purdue University studying computer science. My interests and experience generally
                lie within robotics, but I am no stranger to exploring new fields.
            </div>
        </div>
        <div class="post-snippet">
            <h2>Links</h2>
            <div>
                <ul>
                    <li><a href="https://github.com/hmccarty">Github</a></li>
                    <li><a href="https://www.linkedin.com/in/hmccarty3176/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
        <div class="post-snippet">
            <h2>Experience</h2>
            <div>
                <ul>
                    <li>Undergraduate Researcher @ Purdue CRL (Fall 2020 - Present)</li>
                    <li>Software Engineering Intern @ Beckman Coulter (Summer 2020)</li>
                    <li>Software Verification Engineer @ Aptiv (Spring 2020)</li>
                    <li>Software Testing Intern @ Beckman Coulter (Summer 2019)</li>
                </ul>
            </div>
        </div>
        <div class="post-snippet">
            <h2>Projects</h2>
            <div>
                <ul>
                    <li><a href="https://github.com/hmccarty/gochess">Golang Chess</a> (Independent) (wip)</li>
                    <li><a href="https://github.com/purdue-arc/rocket_league">IRL Rocket League</a> (Purdue Arc) (wip)
                    </li>
                    <li><a href="https://github.com/purdue-arc/arc_tutorials">ROS Tutorial</a> (Purdue ARC)</li>
                    <li><a href="https://github.com/hmccarty/flame_warden_ui">Flame Warden</a> (NXP Challenge)</li>
                    <li><a href="https://github.com/hmccarty/slate">Slate</a> (Purdue Freshman Hackathon)</li>
                    <li><a href="https://github.com/hmccarty/3176-2019">ProjectX</a> (FIRST FRC Team 3176)</li>
                    <li><a href="https://github.com/hmccarty/3176-2018">ProjectCrab</a> (FIRST FRC Team 3176)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}