{% extends 'layout.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gallery.css') }}">
<div class="content">
    {% if photos %}
    <div class="photo-grid">
        {% for i in range(photos | length) %}
        <a href="gallery/{{ photos[i].title }}">
            <img src="{{ url_for('static', filename=photos[i].path) }}" alt="{{ photos[i].title }}">
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div style="color: #eeeeee; text-align:center;">
        <h2>No images yet!</h2>
    </div>
    {% endif %}
</div>
{% endblock %}