{% extends 'layout.html' %}

{% block content %}
    <div class="content">
        <div class="content-boxes">
            <div class="post-snippet">
                <h2>Welcome!</h2>
                <div>
                    The human brain is somewhat fragile, so I figured I might as well upload relevant
                    information to the cloud. In the event that I am dead, please use this site to
                    restore to a latest, working version.
                    <br /><br />
                    To learn more about me or get in contact, visit the <a href="/about">about</a> page.
                </div>
            </div>
        </div>
        <div class="content-alternating-boxes">
            <div class="post-snippet">
                <h2><a href="/posts">Posts</a></h2>
                <div>
                    This is where I do most of my ramblings on topics I find interesting. I even added a simple tagging system. Fancy!
                </div>
            </div>
            <div class="post-snippet">
                <h2><a href="/gallery">Gallery</a></h2>
                <div>
                    Not entirely sure how restoring brain-backups will work in the future, but I figured pictures would help.
                </div>
            </div>
        </div>
    
        <div style="color:  #eeeeee">
            <h2>Recent posts:</h2>
        </div>
        <div class="content-alternating-boxes">
            {% for i in range(posts | length) %}
                {% include 'post-snippet.html' %}
            {% endfor %}
        </div>
    </div>
{% endblock %}