.content {
    margin-top: 20px;
    width: 65%;
}

.content-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-boxes > div {
    width: 100%;
    margin-bottom: 2%;
}

.content-alternating-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content-alternating-boxes > div {
    width: 47%;
    margin-bottom: 2%;
}

.post-snippet {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 15px 10px;
    font: 20px 'Ubuntu', 'Lucida Bright';
}

.post-snippet-header {
    font: 30px 'Ubuntu', 'Lucida Bright';
    margin: 0 0 5px 0;
}

@media screen and (max-width: 1300px) {
    .content-alternating-boxes > div {
        width: 100%;
    }
}