header {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

h1 {
    margin: 10px 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0 15px 0;
    width: 500px;
}