{% extends 'layout.html' %}

{% block content %}
    <div class="content-alternating-boxes">
        <div class="snippet">
            <h2>About me</h2>
            <div>
                My name is Harrison McCarty and I currently attend Purdue University,
                studying Computer Science. At the moment, I am acting as an Undegraduate
                Researcher for the Collaborative Robotics Lab under Professor Voyles.
            </div>
        </div>
        <div class="snippet">
            <h2>Hobbies</h2>
            <div>
                Most of what I do ties into robotics, however I find interest in almost
                every STEM related subject. Software usually stands out to me more when it
                comes to disciplines within STEM.
            </div>
        </div>
        <div class="snippet">
            <h2>Current projects</h2>
            <ul>
                <li>Balancing robot</li>
                <li>This website</li>
                <li>Helio aerospace</li>
            </ul>
        </div>
    </div>
{% endblock %}