{% extends 'layout.html' %}

{% block content %}
    <div class="content-alternating-boxes">
        <div class="post-snippet">
            <h2>summary</h2>
            <div>
                i'm a sophomore at purdue university studying computer science. My interests and experience generally lie within robotics, but I am no stranger
                to exploring new fields.
            </div>
        </div>
        <div class="post-snippet">
            <h2>links</h2>
            <div>
                <ul>
                    <li><a href="https://github.com/hmccarty">github</a></li>
                    <li><a href="https://www.linkedin.com/in/hmccarty3176/">linkedin</a></li>
                </ul>
            </div>
        </div>
        <div class="post-snippet">
            <h2>experience</h2>
            <div>
                <ul>
                    <li>undergraduate researcher @ purdue crl (fall 2020 - present)</li>
                    <li>software engineering intern @ beckman coulter (summer 2020)</li>
                    <li>software verification engineer @ aptiv (spring 2020)</li>
                    <li>software testing intern @ beckman coulter (summer 2019)</li>  
                </ul>
            </div>
        </div>
        <div class="post-snippet">
            <h2>projects</h2>
            <div>
                <ul>
                    <li><a href="https://github.com/hmccarty/gochess">go chess</a> (independent) (wip)</li>
                    <li><a href="https://github.com/purdue-arc/rocket_league">irl rocket league</a> (purdue arc) (wip)</li>
                    <li><a href="https://github.com/hmccarty/flame_warden_ui">flame warden</a> (nxp challenge)</li>
                    <li><a href="https://github.com/hmccarty/slate">slate</a> (purdue freshman hackathon)</li>
                    <li><a href="https://github.com/hmccarty/3176-2019">projectx</a> (first frc team 3176)</li>
                    <li><a href="https://github.com/hmccarty/3176-2018">projectcrab</a> (first frc team 3176)</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}