{% extends 'layout.html' %}

{% block content %}
    <div class="content">
        <div class="content-alternating-boxes">
            <div class="post-snippet">
                <h2>Summary</h2>
                <div>
                    I'm a sophomore at Purdue University studying computer science. My interests and experience generally
                    lie within robotics, but I am no stranger to exploring new fields.
                </div>
            </div>
            <div class="post-snippet">
                <h2>Links</h2>
                <div>
                    <ul>
                        <li><a href="https://github.com/hmccarty">github</a></li>
                        <li><a href="https://www.linkedin.com/in/hmccarty3176/">linkedin</a></li>
                    </ul>
                </div>
            </div>
            <div class="post-snippet">
                <h2>Experience</h2>
                <div>
                    <ul>
                        <li>Undergraduate Researcher @ Purdue CRL (Fall 2020 - Present)</li>
                        <li>Software Engineering Intern @ Beckman Coulter (Summer 2020)</li>
                        <li>Software Verification Engineer @ Aptiv (Spring 2020)</li>
                        <li>Software Testing Intern @ Beckman Coulter (Summer 2019)</li>  
                    </ul>
                </div>
            </div>
            <div class="post-snippet">
                <h2>Projects</h2>
                <div>
                    <ul>
                        <li><a href="https://github.com/hmccarty/gochess">golang chess</a> (independent) (wip)</li>
                        <li><a href="https://github.com/purdue-arc/rocket_league">irl rocket league</a> (purdue arc) (wip)</li>
                        <li><a href="https://github.com/hmccarty/flame_warden_ui">flame warden</a> (nxp challenge)</li>
                        <li><a href="https://github.com/hmccarty/slate">slate</a> (purdue freshman hackathon)</li>
                        <li><a href="https://github.com/hmccarty/3176-2019">projectx</a> (first frc team 3176)</li>
                        <li><a href="https://github.com/hmccarty/3176-2018">projectcrab</a> (first frc team 3176)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}