<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">

    <h1>
        hsan's brain bank
    </h1>
    <nav>
        {% if current=="home" %}
            <a href="/" class="current">home</a>
        {% else %}
            <a href="/">home</a>
        {% endif %}

        {% if current=="journal" %}
            <a href="/journal" class="current">journal</a>
        {% else %}
            <a href="/journal">journal</a>
        {% endif %}

        {% if current=="gallery" %}
            <a href="/gallery" class="current">gallery</a>
        {% else %}
            <a href="/gallery">gallery</a>
        {% endif %}

        {% if current=="about" %}
            <a href="/about" class="current">about</a>
        {% else %}
            <a href="/about">about</a>
        {% endif %}
    </nav>
</header>